<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestCircle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5ABFA0211C30C1C30028FD18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ABFA0301C30C1C40028FD18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ABFA03B1C30C1C40028FD18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
